@model
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<tabel border="1">
    <tr>
        <th>SN</th>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
    </tr>
    @foreach (var data in Model)


</tabel>


