@model List<WebApplication4.Models.anjal1>
@{
    ViewBag.Title = "Index1";
    int sn = 0;

}

<form>
        <label class="col-md-4">Name: </label>
    <div class="col-md-4">
        <input type="text" name="name" class="from-control" />
    </div>
  
    <label class="col-md-4">Address: </label>
    <div class="col-md-4">
        <input type="text" name="address" class="form-control" />
    </div>
 
    <label class="col-md-4">Contact: </label>
    <div class="col-md-4">
        <input  type="text" name="contact" class="from-control" />
    </div>
</form>
